
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
}
.knopka{
    margin: 0px 1515px 0px 0px;
	background-color: #8f4c25;
	color: white;
	border: 5px solid gray;
    font-size: 20px
   
}




ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 100; /*убираем отступы*/
  margin-top:-10px; /*делаем отступ сверху*/
  background:#381814; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#381814; /*добавляем фон к пункту меню*/
  color:#fff; /*меняем цвет ссылок*/
  padding: 0px 65px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #381814; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
a:hover {
  background:#852114;/*добавляем эффект при наведении*/
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  position:relative; /*задаем позицию для позиционирования*/
}
     
    /*Стили для скрытого выпадающего меню*/
    li > ul {
        position:absolute;
        top:25px;
        display:none;   
    }
     
    /*Делаем скрытую часть видимой*/
    li:hover > ul {
        display:block; 
        width:220px;  /*Задаем ширину выпадающего меню*/      
    }
   li:hover > ul > li {
        float:none; /*Убираем горизонтальное позиционирование*/
    }
  


.verhnyayachast{
color: white;
background-color: black;
border: 1px solid black

}
/*/*.#basic {
    width: 960px;
    min-height: 500px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    background: #fff;
}/**/


 #nomer1{
  	border: 3px solid black;
  }
#nomer1 {
  width : 325px;
}

img.shapka1 {
  position : relative;
  top : 12px;
}

#nomer1 {
  position : relative;
  top : 32px;
}

p.text1 {
  width : 321px;
  position : relative;
  left : 4px;
}

#nomer1 {
  height : 399.469px;
}

p.text1 {
  top : 36px;
  height : 42px;
}

img.shapka1 {
  width : 294px;
  height : 284.469px;
}
.skidka{
color: red;
size: 15px;
}
.cupit{
size:25px;
}
img.shapka1 {
  height : 295.469px;
  top : 1px;
}

#nomer1>h3class\"skidka\" {
  font-size : 24px;
}

p.text1 {
  height : 65px;
}

#nomer1>h3class\"skidka\" {
  position : relative;
}

#nomer1>h2 {
  width : 107px;
  position : relative;
}

p.text1 {
  top : -5px;
  left : -60px;
}

#nomer1 {
  height : 403.469px;
}

#nomer1>h3class\"skidka\">a {
  position : relative;
}

#nomer1>h2 {
  font-size : 32px;
}

#nomer1>strike {
  font-size : 20px;
}

#nomer1>h2 {
  top : -48px;
  left : 203px;
}

#nomer1>h3class\"skidka\" {
  top : -115px;
  left : 74px;
}
#nomer1>h3class\"skidka\">a {
  left : -77px;
  width : 200px;
  height : 51px;
}
p.text1 {
  height : 66px;
}
#nomer1 {
  height : 434.469px;
}

